@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Developer"))
{

    {
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome to the bug tracker!</h1>
    </div>

}

